# Core dependencies for Teeth Whitening Pipeline
opencv-python
numpy
torch
torchvision
albumentations

# Face detection
retina-face

# Image processing
Pillow
scikit-image

# RetinaFace dependencies
tensorflow
tf-keras
protobuf
click
dm-tree
toml

# Development and testing (optional)
matplotlib
jupyter


streamlit