numpy==1.26.4
matplotlib
opencv-python>=4.7.0
Pillow>=10.0.0
albumentations>=1.4.0
torch
torchvision
segmentation_models_pytorch
retina-face==0.0.17
tensorflow>=2.12.0
tf-keras>=2.12.0
protobuf==3.20.3
jupyter
streamlit